@import "../bootstrap.css";
@config "../../../tailwind-backend.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #262626;
}


@layer components {
    nav ul li a {
        @apply px-4 py-2 text-sm leading-6 font-semibold hover:bg-zinc-300 dark:hover:bg-zinc-500;
    }
    #main-nav li a.active {
        @apply bg-gray-300 dark:bg-gray-900 hover:bg-zinc-300 dark:hover:bg-zinc-500;
    }



    a.link {
        @apply opacity-70 hover:opacity-100 hover:shadow;
    }


    .select2-container {
        /* The container where the selectbox is housing*/
        @apply relative box-border align-middle inline-block m-0;
    }
    .select2-container .select2-selection--single {
        /* Selection box itself */
        @apply box-border cursor-pointer block select-none shadow border rounded select-none;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        /* DIV inside Selection box with text, clear button and arrow down*/
        @apply block h-6 pl-1 pr-6 truncate;
    }
    .select2-container .select2-selection--single .select2-selection__clear {
        /* The DIV where the X is housing to clear the chosen option */
        @apply relative -m-1;
    }
    .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
        /*@apply;*/
    }

    .select2-container .select2-selection--multiple {
        @apply box-border overflow-hidden h-4 cursor-pointer block select-none;
    }

    .select2-container .select2-selection--multiple .select2-selection__rendered {
        @apply inline-block pl-2 truncate whitespace-nowrap;
    }
    .select2-container .select2-search--inline {
        /* Search box*/
        @apply float-left;
    }
    .select2-container .select2-search--inline .select2-search__field {
        @apply box-border border pl-1 my-1 w-full text-base;
    }
    .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
        @apply appearance-none;
    }

    .select2-dropdown {
        /* Dropdown area when the arrow down is clicked */
        @apply absolute block w-auto box-border border border-gray-600 z-50 float-left;
    }

    .select2-dropdown {
        @apply bg-white dark:bg-gray-700;
    }

    .select2-results {
        @apply block;
    }

    .dark .select2-results {
        color: white;
    }

    .select2-results__options {
        @apply list-none m-0 py-0 px-2;
    }

    .select2-results__option {
        /* The rows with results that you see after dropdown.
        Increase p-1 to p-2 to have more space between results */
        @apply p-1 select-none;
    }
    .select2-results__option[aria-selected] {
        @apply cursor-pointer;
    }

    .select2-container--open .select2-dropdown {
        /* Dropdown container opened and results are shown*/
        @apply mt-1 left-0;
    }

    .select2-container--open .select2-dropdown--above {
        /* The left and right borders of the option rows */
        @apply rounded border-gray-400 shadow;
    }

    .select2-container--open .select2-dropdown--below {
        /* The left and right borders of the option rows */
        @apply rounded border-gray-400 shadow;
    }

    .select2-search--dropdown {
        /* Search dropdown element*/
        @apply block p-2;
    }
    .select2-search--dropdown .select2-search__field {
        /* Search box itself where you can enter text*/
        @apply h-8 p-1 box-border rounded border-2 border-blue-300 outline-none;
        width: 100%;
    }
    .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
        @apply appearance-none;
    }
    .select2-search--dropdown.select2-search--hide {
        @apply hidden;
    }

    .select2-close-mask {
        @apply block w-12 min-w-full m-0 p-0;
        border: 0;
        position: fixed;
        left: 0;
        top: 0;
        min-height: 100%;
        height: auto;
        width: auto;
        opacity: 0;
        z-index: 99;
        background-color: #fff;
        filter: alpha(opacity=0);
    }

    .select2-hidden-accessible {
        border: 0 !important;
        clip: rect(0 0 0 0) !important;
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        height: 1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        white-space: nowrap !important; }


    /*
        Default template settings:
    */

    .select2-container--default .select2-selection--single {
        /* Selection bar - Self */
        @apply py-1 px-2 border-2 focus:border-blue-600 bg-white dark:bg-gray-700;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        /* Selection bar - Text color of the item you selected from the results */
        @apply text-purple-900 dark:text-gray-100;
    }

    .select2-container--default .select2-selection--single .select2-selection__clear {
        /* Selection bar - Clear button - If this property is enabled*/
        @apply cursor-pointer float-right text-red-700;
    }
    .select2-container--default .select2-selection--single .select2-selection__placeholder {
        /* Selection bar - Color of the placeholder text before selection - If this property is enabled */
        @apply text-purple-800 dark:text-gray-50;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        /* Selection bar - DIV where the arrow pointing down is living*/
        @apply absolute right-0 top-0 h-8 w-8;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        /* Arrow is a CSS triangle that does not exists in Tailwind without a package */
        @apply absolute border-solid h-0 w-0 border-t-4 border-r-4 border-b-0 border-l-4;
        border-color: #000 transparent transparent transparent;
        left: 50%;
        margin-left: -4px;
        margin-top: -2px;
        top: 50%;
    }

    .dark .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-color: #fff transparent transparent transparent !important;
    }

    .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
        /* Selection bar - Clear button - If this property is enabled from right to left*/
        @apply float-left ml-4;
    }

    .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
        /* Placement of the dropdown arrow when in rtl mode */
        @apply left-0 right-auto;
    }

    .select2-container--default.select2-container--disabled .select2-selection--single {
        /* Selection by property disabled*/
        @apply cursor-default bg-gray-300 dark:bg-gray-400;
    }
    .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
        /* Selection bar - Hide the clear cross when selection bar is disabled*/
        @apply hidden;
    }

    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
        border-color: transparent transparent #888 transparent;
        border-width: 0 4px 5px 4px;
    }

    .dark .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
        border-color: transparent transparent #999 transparent !important;
    }

    .select2-container--default .select2-selection--multiple {
        @apply p-1 min-h-full h-full border-solid border rounded shadow bg-white dark:bg-gray-700;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        @apply box-border list-none m-0 px-1 min-w-full;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
        @apply list-none;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__clear {
        @apply float-right cursor-pointer mt-1 mr-2 p-1;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        @apply bg-white dark:bg-gray-700 border cursor-default rounded my-1 mr-1 px-2 float-left;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        @apply text-gray-700 cursor-pointer inline-block mr-1;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
        @apply text-gray-500;
    }
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        @apply border-2 outline-none;
    }

    .select2-container--default.select2-container--disabled .select2-selection__choice__remove {
        @apply hidden;
    }
    .select2-container--classic .select2-selection--multiple .select2-selection__choice {
        @apply bg-gray-300 border-2 shadow rounded float-left cursor-default mt-1 mr-1 px-1;
    }
    .select2-container--default .select2-search--dropdown .select2-search__field {
        /* The border of the search textbox */
        @apply border-solid;
    }

    .select2-container--default .select2-search--inline .select2-search__field {
        /* Search textbox */
        @apply border-none bg-transparent outline-none shadow-none select-text;
    }

    .select2-container--default .select2-results > .select2-results__options {
        /* Hight of the dropdown zone where the options or results are visible */
        @apply h-full max-h-32 overflow-y-auto;
    }

    .select2-container--default .select2-results__option[role=group] {
        /* No clue what this does */
        @apply p-0;
    }

    .select2-container--default .select2-results__option[aria-disabled=true] {
        @apply text-gray-300;
    }

    .select2-container--default .select2-results__option[aria-selected=true] {
        /* The already selected option row color */
        @apply bg-gray-300;
    }
    .select2-results__option--selected {
        @apply hidden;
    }
    .select2-container--default .select2-results__option .select2-results__option {
        padding-left: 1em;
    }
    .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
        padding-left: 0;
    }
    .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
        margin-left: -1em;
        padding-left: 2em;
    }
    .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
        margin-left: -2em;
        padding-left: 3em;
    }
    .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
        margin-left: -3em;
        padding-left: 4em;
    }
    .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
        margin-left: -4em;
        padding-left: 5em;
    }
    .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
        margin-left: -5em;
        padding-left: 6em;
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        /* Background color and text color of the options rows when select is open */
        @apply bg-blue-500 text-white;
    }

    .select2-container--default .select2-results__group {
        /* Have no idea what this is for */
        @apply cursor-default block;
        padding: 6px; }
}


@media only screen and (min-width: 768px) {
    .menu-vertical::before {
        content: "";
        width: 30px;
        transform: rotate(90deg);
        height: 30px;
        background-size: 100%;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='259.51' height='259.52'%3E%3Cpath data-name='Path 143' d='M259.51 259.52c-.167-2.608.05-5.319-.19-8.211-.084-1.012-.031-2.15-.118-3.12-.113-1.25-.1-2.682-.236-4.061-.172-1.722-.179-3.757-.365-5.394-.328-2.889-.478-5.857-.854-8.61-.509-3.714-.825-7.252-1.38-10.543-.934-5.535-2.009-11.312-3.189-16.692-.855-3.9-1.772-7.416-2.752-11.2-1.1-4.256-2.394-8.149-3.687-12.381-1.1-3.615-2.366-6.893-3.623-10.493-1.3-3.739-2.917-7.26-4.284-10.7-1.708-4.295-3.674-8.078-5.485-12.023-1.145-2.493-2.5-4.932-3.727-7.387-1.318-2.646-2.9-5.214-4.152-7.518-1.716-3.16-3.517-5.946-5.274-8.873-1.692-2.818-3.589-5.645-5.355-8.334-2.326-3.542-4.637-6.581-7.039-9.848-2.064-2.809-4.017-5.255-6.088-7.828a237.651 237.651 0 00-7.292-8.589c-3.027-3.411-6.049-6.744-9.055-9.763-2.4-2.412-4.776-4.822-7.108-6.975-3-2.767-5.836-5.471-8.692-7.854-3.332-2.779-6.657-5.663-9.815-8.028-2.958-2.216-5.784-4.613-8.7-6.6-3.161-2.159-6.251-4.414-9.219-6.254-3.814-2.365-7.533-4.882-11.168-6.89-4.213-2.327-8.513-4.909-12.478-6.834-4.61-2.239-9.234-4.619-13.51-6.416-4.1-1.725-8.11-3.505-11.874-4.888-4.5-1.652-8.506-3.191-12.584-4.47-6.045-1.9-12.071-3.678-17.431-5-9.228-2.284-17.608-3.757-24.951-4.9-7.123-1.112-13.437-1.64-18.271-2.035l-2.405-.2c-1.638-.136-3.508-.237-4.633-.3A115.051 115.051 0 000 .081h259.51z' fill='%23E5E7EB'/%3E%3C/svg%3E");
        position: absolute;
        top: -30px;
        right: 0;
    }
    .menu-vertical::after {
        content: "";
        width: 30px;
        height: 30px;
        background-size: 100%;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='259.51' height='259.52'%3E%3Cpath data-name='Path 143' d='M259.51 259.52c-.167-2.608.05-5.319-.19-8.211-.084-1.012-.031-2.15-.118-3.12-.113-1.25-.1-2.682-.236-4.061-.172-1.722-.179-3.757-.365-5.394-.328-2.889-.478-5.857-.854-8.61-.509-3.714-.825-7.252-1.38-10.543-.934-5.535-2.009-11.312-3.189-16.692-.855-3.9-1.772-7.416-2.752-11.2-1.1-4.256-2.394-8.149-3.687-12.381-1.1-3.615-2.366-6.893-3.623-10.493-1.3-3.739-2.917-7.26-4.284-10.7-1.708-4.295-3.674-8.078-5.485-12.023-1.145-2.493-2.5-4.932-3.727-7.387-1.318-2.646-2.9-5.214-4.152-7.518-1.716-3.16-3.517-5.946-5.274-8.873-1.692-2.818-3.589-5.645-5.355-8.334-2.326-3.542-4.637-6.581-7.039-9.848-2.064-2.809-4.017-5.255-6.088-7.828a237.651 237.651 0 00-7.292-8.589c-3.027-3.411-6.049-6.744-9.055-9.763-2.4-2.412-4.776-4.822-7.108-6.975-3-2.767-5.836-5.471-8.692-7.854-3.332-2.779-6.657-5.663-9.815-8.028-2.958-2.216-5.784-4.613-8.7-6.6-3.161-2.159-6.251-4.414-9.219-6.254-3.814-2.365-7.533-4.882-11.168-6.89-4.213-2.327-8.513-4.909-12.478-6.834-4.61-2.239-9.234-4.619-13.51-6.416-4.1-1.725-8.11-3.505-11.874-4.888-4.5-1.652-8.506-3.191-12.584-4.47-6.045-1.9-12.071-3.678-17.431-5-9.228-2.284-17.608-3.757-24.951-4.9-7.123-1.112-13.437-1.64-18.271-2.035l-2.405-.2c-1.638-.136-3.508-.237-4.633-.3A115.051 115.051 0 000 .081h259.51z' fill='%23E5E7EB'/%3E%3C/svg%3E");
        position: absolute;
        top: 48px;
        right: 0;
    }
    .dark .menu-vertical::before {
        content: "";
        width: 30px;
        transform: rotate(90deg);
        height: 30px;
        background-size: 100%;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='259.51' height='259.52'%3E%3Cpath data-name='Path 143' d='M259.51 259.52c-.167-2.608.05-5.319-.19-8.211-.084-1.012-.031-2.15-.118-3.12-.113-1.25-.1-2.682-.236-4.061-.172-1.722-.179-3.757-.365-5.394-.328-2.889-.478-5.857-.854-8.61-.509-3.714-.825-7.252-1.38-10.543-.934-5.535-2.009-11.312-3.189-16.692-.855-3.9-1.772-7.416-2.752-11.2-1.1-4.256-2.394-8.149-3.687-12.381-1.1-3.615-2.366-6.893-3.623-10.493-1.3-3.739-2.917-7.26-4.284-10.7-1.708-4.295-3.674-8.078-5.485-12.023-1.145-2.493-2.5-4.932-3.727-7.387-1.318-2.646-2.9-5.214-4.152-7.518-1.716-3.16-3.517-5.946-5.274-8.873-1.692-2.818-3.589-5.645-5.355-8.334-2.326-3.542-4.637-6.581-7.039-9.848-2.064-2.809-4.017-5.255-6.088-7.828a237.651 237.651 0 00-7.292-8.589c-3.027-3.411-6.049-6.744-9.055-9.763-2.4-2.412-4.776-4.822-7.108-6.975-3-2.767-5.836-5.471-8.692-7.854-3.332-2.779-6.657-5.663-9.815-8.028-2.958-2.216-5.784-4.613-8.7-6.6-3.161-2.159-6.251-4.414-9.219-6.254-3.814-2.365-7.533-4.882-11.168-6.89-4.213-2.327-8.513-4.909-12.478-6.834-4.61-2.239-9.234-4.619-13.51-6.416-4.1-1.725-8.11-3.505-11.874-4.888-4.5-1.652-8.506-3.191-12.584-4.47-6.045-1.9-12.071-3.678-17.431-5-9.228-2.284-17.608-3.757-24.951-4.9-7.123-1.112-13.437-1.64-18.271-2.035l-2.405-.2c-1.638-.136-3.508-.237-4.633-.3A115.051 115.051 0 000 .081h259.51z' fill='%231F2937'/%3E%3C/svg%3E");
        position: absolute;
        top: -30px;
        right: 0;
    }
    .dark .menu-vertical::after {
        content: "";
        width: 30px;
        height: 30px;
        background-size: 100%;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='259.51' height='259.52'%3E%3Cpath data-name='Path 143' d='M259.51 259.52c-.167-2.608.05-5.319-.19-8.211-.084-1.012-.031-2.15-.118-3.12-.113-1.25-.1-2.682-.236-4.061-.172-1.722-.179-3.757-.365-5.394-.328-2.889-.478-5.857-.854-8.61-.509-3.714-.825-7.252-1.38-10.543-.934-5.535-2.009-11.312-3.189-16.692-.855-3.9-1.772-7.416-2.752-11.2-1.1-4.256-2.394-8.149-3.687-12.381-1.1-3.615-2.366-6.893-3.623-10.493-1.3-3.739-2.917-7.26-4.284-10.7-1.708-4.295-3.674-8.078-5.485-12.023-1.145-2.493-2.5-4.932-3.727-7.387-1.318-2.646-2.9-5.214-4.152-7.518-1.716-3.16-3.517-5.946-5.274-8.873-1.692-2.818-3.589-5.645-5.355-8.334-2.326-3.542-4.637-6.581-7.039-9.848-2.064-2.809-4.017-5.255-6.088-7.828a237.651 237.651 0 00-7.292-8.589c-3.027-3.411-6.049-6.744-9.055-9.763-2.4-2.412-4.776-4.822-7.108-6.975-3-2.767-5.836-5.471-8.692-7.854-3.332-2.779-6.657-5.663-9.815-8.028-2.958-2.216-5.784-4.613-8.7-6.6-3.161-2.159-6.251-4.414-9.219-6.254-3.814-2.365-7.533-4.882-11.168-6.89-4.213-2.327-8.513-4.909-12.478-6.834-4.61-2.239-9.234-4.619-13.51-6.416-4.1-1.725-8.11-3.505-11.874-4.888-4.5-1.652-8.506-3.191-12.584-4.47-6.045-1.9-12.071-3.678-17.431-5-9.228-2.284-17.608-3.757-24.951-4.9-7.123-1.112-13.437-1.64-18.271-2.035l-2.405-.2c-1.638-.136-3.508-.237-4.633-.3A115.051 115.051 0 000 .081h259.51z' fill='%231F2937'/%3E%3C/svg%3E");
        position: absolute;
        top: 48px;
        right: 0;
    }
}

tr.even {
    background-color: #F3F4F6 !important;
}
tr.odd {
    background-color: #E5E7EB !important;
}
.dark tr.even {
    background-color: #475569 !important;
    color: white;
}
.dark tr.odd {
    background-color: #334155 !important;
    color: white;
}
.table-footer p {
    color: black !important;
}
.dark .table-footer p {
    color: white !important;
}
table tr th {
    padding-right: 20px;
}
table tr th.asc {
    background-image: url("../../images/components/tables/sort_asc.png") !important;
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table tr th.desc {
    background-image: url("../../images/components/tables/sort_desc.png") !important;
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table tr th.sortable {
    background-image: url("../../images/components/tables/sort_both.png") !important;
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
